nltk
llm
pygraft
torch
torchvision
torchaudio
pyvis
PyMuPDF
langdetect
transformers
flask
streamlit
sentence-transformers
flask_cors
neo4j
GoogleNews
googlesearch-python
codecarbon
wikipedia
PyPDF2
networkx